@import url(./../index/header.css);
@import url(./../index/var.css);
@import url(./../index/animation.css);

body {
    width: 100vw;
    height: 280vh;
    overflow-x: hidden;
    
    padding: 0;
    margin: 0;
    
    
    background: linear-gradient(90deg,
    rgba(24, 37, 119, 1) 0%,
    rgba(42, 74, 185, 1) 25%,
    rgba(80, 191, 22, 1) 50%,
    rgba(42, 74, 185, 1) 75%,
    rgba(24, 37, 119, 1) 100%);
    background-size: 200% 100%;
    animation:moveGradient 10s linear infinite;
    animation-delay: 1s;
    
    
}


main{
    width: 100vw;
    height: 100vh;
}

h2{
    
    margin-bottom: 30vh;
}

section{
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}
.div_grande{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 17vw);
    
    gap: 5vh;
    margin-top: 5vh;
    
}

.div_disco{
    height: 40vh;
    width:100%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 100%;  
    font-family: var(--fontP);
    
    
}


img {
    height: 70%;
    width: 70%;
    border-radius: 10%;
    margin-top: 5% ;
    
}

h1{
    margin-top: 15%;

    color: white;
}

#nomes{
    font-size: 250%;
    font-family: var(--fontP);
}

#biografia{
    width: 80%;
    font-size: 100%;
    font-family: var(--fontS);
    color: white;

}

#iron_body{

   background: #F2AC29;
background: linear-gradient(90deg,rgba(242, 172, 41, 1) 0%, rgba(232, 23, 36, 1) 31%, rgba(179, 21, 0, 1) 62%, rgba(8, 8, 8, 1) 94%);

}

#iron {
    border: solid #FCFEF9;
    font-size: 100%;     
background-color: #F1292B ;
    

}

#sabbath_body{
    background: #D3D7D7;
background: linear-gradient(90deg,rgba(211, 215, 215, 1) 0%, rgba(119, 53, 169, 1) 19%, rgba(23, 3, 31, 1) 73%, rgba(19, 19, 19, 1) 94%);
}

#sabbath{
border: solid rgba(211, 215, 215, 1);

    background-color:rgba(119, 53, 169, 1) ; 
}

#dio_body{
    background: #CDE0EE;
background: linear-gradient(90deg,rgba(205, 224, 238, 1) 0%, rgba(78, 100, 166, 1) 31%, rgba(217, 111, 50, 1) 62%, rgba(217, 72, 59, 1) 94%);
}

#dio{
   border: solid rgba(205, 224, 238, 1);

    background-color:rgba(217, 72, 59, 1) ;  
}

#queen_body{
    background: #D95FA2;
background: linear-gradient(90deg,rgba(217, 95, 162, 1) 0%, rgba(140, 38, 133, 1) 31%, rgba(242, 183, 5, 1) 62%, rgba(242, 159, 5, 1) 94%);
}

#queen{
     border: solid rgba(242, 183, 5, 1);

    background-color:rgba(140, 38, 133, 1) ;  
}

#led_body{
    background: #F2EBC9;
background: linear-gradient(90deg,rgba(242, 235, 201, 1) 12%, rgba(217, 59, 72, 1) 33%, rgba(242, 41, 41, 1) 75%, rgba(13, 0, 4, 1) 94%);

}

#led{
     border: solid rgba(242, 235, 201, 1);

    background-color:rgba(242, 41, 41, 1) ;  
}

#megadeth_body{

    background: linear-gradient(90deg,
            rgba(24, 37, 119, 1) 0%,
            rgba(42, 74, 185, 1) 25%,
            rgba(80, 191, 22, 1) 50%,
            rgba(42, 74, 185, 1) 75%,
            rgba(24, 37, 119, 1) 100%);

}

#megadeth{
    background-color: rgba(42, 74, 185, 1);

    border: solid rgba(80, 191, 22, 1);

    font-size: 88%;
}

#metallica_body{
    background: linear-gradient(90deg,rgba(64, 13, 13, 1) 11%, rgba(131, 8, 29, 1) 32%, rgba(191, 91, 4, 1) 60%, rgba(206, 201, 182, 1) 87%);
}

#metallica{
    border: solid rgba(206, 201, 182, 1);

    background-color:rgba(131, 8, 29, 1) ;
}

#slayer_body{
    background: linear-gradient(90deg,rgba(13, 13, 13, 1) 11%, rgba(191, 44, 56, 1) 32%, rgba(242, 80, 65, 1) 60%, rgba(13, 13, 13, 1) 87%);
}

#slayer{
   border: solid rgba(13, 13, 13, 1);

    background-color:rgba(191, 44, 56, 1) ; 
}

#ozzy_body{

background: linear-gradient(90deg, rgba(9, 11, 13, 1) 0%, rgba(139, 141, 136, 1) 25%, rgba(231, 238, 238, 1) 50%, rgba(139, 141, 136, 1) 75%, rgba(9, 11, 13, 1) 100%);
}

#ozzy{
     border: solid white;

    background-color: rgba(13, 13, 13, 1);  
}

#pink{
border: solid white;

    background-color: rgba(13, 13, 13, 1);  
}

#pink_body{
background: linear-gradient(90deg,rgba(0, 2, 0, 1) 25%, rgba(252, 255, 248, 1) 37%, rgba(146, 90, 161, 1) 42%, rgba(112, 223, 240, 1) 47%, rgba(255, 255, 4, 1) 52%, rgba(247, 150, 1, 1) 57%, rgba(249, 42, 36, 1) 62%, rgba(252, 255, 248, 1) 66%, rgba(0, 2, 0, 1) 85%);
}




