@import url(./../index/header.css);
@import url(./../index/var.css);
@import url(./../index/footer.css);
@import url(./../index/animation.css);
@import url(./menu.css);

body {
    width: 100vw;
    height: 100vw;

    padding: 0;
    margin: 0;
    overflow: hidden;

    background: linear-gradient(90deg,
            rgba(24, 37, 119, 1) 0%,
            rgba(42, 74, 185, 1) 25%,
            rgba(80, 191, 22, 1) 50%,
            rgba(42, 74, 185, 1) 75%,
            rgba(24, 37, 119, 1) 100%);
    background-size: 200% 100%;
    animation:moveGradient 10s linear infinite;
    animation-delay: 1s;

}

#estrela_da_morte{
    width: 300vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.bunner{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;    

}

#all_bunners{
    width: 300vw;
    height: 40vh;

    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0;

    transition: all 0.5s ease-in-out;
}

#div_fds{
    width: 100vw;
    height: 5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 43%;
    left: 0;

}

.btn_bunners{

    height: 5vh;
    width: 2.5vw;
    border-radius: 25vw;
    margin-left: 2%;
    margin-right: 2%;
   background-color: rgba(80, 191, 22, 1);

}

img{
    width: 80vw;
    height: 40vh;
}