@import url(./../index/header.css);
@import url(./../index/var.css);
@import url(./../index/footer.css);
@import url(./../index/animation.css);
@import url(./home.css);

body {
    width: 100vw;
    height: 100vw;

    padding: 0;
    margin: 0;
    overflow: hidden;

    background: linear-gradient(90deg,
            rgba(24, 37, 119, 1) 0%,
            rgba(42, 74, 185, 1) 25%,
            rgba(80, 191, 22, 1) 50%,
            rgba(42, 74, 185, 1) 75%,
            rgba(24, 37, 119, 1) 100%);
    background-size: 200% 100%;
    animation:moveGradient 10s linear infinite;
    animation-delay: 1s;

}

#vic{
    height: 100%;
    width: 100%;
    border-radius: 50vw;
}

#box {
    z-index: -1;
    border-radius: 50vw;
    width: 4%;
    height: 8%;
    background-color: black;
    position: absolute;
    
    animation: dvd 10s linear infinite alternate;
    }
    
      #box:hover {
        animation-play-state: paused;
      }