footer{
    height: 10vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

#git {
    width: 2vw;
    height: 4vh;
    border-radius: 50vw;
    margin-right: 2vw;
    background-color: rgba(80, 191, 22, 1);
}



#insta {
    width: 2vw;
    height: 4vh;
    border-radius: 50vw;
    margin-right: 2vw;
    background-color: rgba(80, 191, 22, 1);
}



#steam {
    width: 2vw;
    height: 4vh;
    border-radius: 50vw;
    margin-right: 2vw;
    background-color: rgba(80, 191, 22, 1);
}

#steam_icon{
    font-size: 180%;
}

#git_icon{
    font-size: 180%;
}

#insta_icon{
    font-size: 180%;
}







