header {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

#perfil{
    width: 20%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    font-size: 1vw;
}

#img_cabecalho {
width: 4vw;
height: 8vh;
border-radius: 50%;
border: solid 0.1vw;
}

#btn_hdr{
    width: 20%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}

.btn_head{
    width: 30%;
    height: 35%;
    background-color: rgba(80, 191, 22, 1);
    border-radius: 10vw;
    color: rgba(24, 37, 119, 1);
}

#nome_header{
    color: rgba(245, 186, 40, 1);
    font-family: var(--fontP); 
}

#casa{
    font-size: 130%;
}

#btn_home{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 90%;
    font-family: var(--fontS);
}

#btn_pesquisa{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 90%;
    font-family: var(--fontS);
}

#lupa{
   font-size: 130%;
}

#btn_show{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 90%;
    font-family: var(--fontS);
}

#show{
    font-size: 130%;
}

@media (max-width: 1200px){
    
     #img_cabecalho{
        width: 25%;
        height: 70%;
     }
     
     #nome_header{
        display: none;
     }
    
     .btn_head{
        width: 60%;
        height: 40%;
    }
    
    #btn_hdr{
        width: 30%;
        height: 100%;
    }

}

@media (max-width: 834px){
    header{
        height: 10%;
     }
    
     #img_cabecalho{
        width: 40%;
        height: 80%;
     }
     
     #nome_header{
        display: none;
     }
    
     .btn_head{
        width: 60%;
        height: 40%;
    }
    
    #btn_hdr{
        width: 40%;
        height: 100%;
    }
}

@media (max-width: 820px){
 header{
    height: 10%;
 }

 #img_cabecalho{
    width: 40%;
    height: 80%;
 }
 
 #nome_header{
    display: none;
 }

 .btn_head{
    width: 60%;
    height: 40%;
}

#btn_hdr{
    width: 40%;
    height: 100%;
}
}

@media (max-width: 480px){
    
    header{
        height: 10%;
    
        display: flex;
        justify-content: space-around;
     }
    
     #img_cabecalho{
        width: 40%;
        height: 80%;
     }
     
     #nome_header{
        display: none;
     }
    
     .btn_head{
        width: 50%;
        height: 65%;
    }
    
    #btn_hdr{
        width: 70%;
        height: 100%;
        
    }

}

