header {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

#perfil{
    width: 20%;
    height: 100%;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    font-size: 1vw;
}

#img_cabecalho {
width: 4vw;
height: 8vh;
border-radius: 50%;
border: solid 0.1vw;
}

#btn_hdr{
    width: 20%;
    height: 100%;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}

.btn_head{
    width: 30%;
    height: 35%;
    background-color: rgba(80, 191, 22, 1);
    border-radius: 10vw;
    color: rgba(24, 37, 119, 1);
}

#nome_header{
    color: rgba(245, 186, 40, 1);
    
}

#casa{
    width: 70%;
    height: 70%;
}

#btn_home{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 90%;
}

#btn_pesquisa{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 90%;
}

#lupa{
    width: 70%;
    height: 70%;
}

#btn_show{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 90%;
}

#show{
    width: 70%;
    height: 70%; 
}

