/* moveGradient, animação do plano de fundo */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

/* dvd, animação do VIC batendo na tela  */
@keyframes dvd {
    0% {
        top: 50%;
        left: 0%;
        transform: translate(0, 0);
      }
      25% {
        top: 93%;
        left: 50%;
        transform: translate(-100%, -5%);
      }
      50% {
        top: 50%;
        left: 100%;
        transform: translate(-100%, -5%);
      }
      75% {
        top: 0%;
        left: 50%;
        transform: translate(0, -5%);
      }
      100% {
        top: 50%;
        left: 0%;
        transform: translate(0, 0);
      }
  }