<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Sabbath</title>
    <link rel="stylesheet" href="./../../View/css/projects/bandas.css">
    <script type="module" src="./../../Controller/projects/bandas/sabbath.js"></script>
</head>
<body id="sabbath_body">

<header id="header">

    </header>

    <section>
        
                 <h1 id="nomes">Black Sabbath</h1>
            
                   
                  <h2 id="biografia">O Black Sabbath é uma banda britânica formada em Birmingham no final dos anos 1960, considerada a pioneira do heavy metal. Com sua formação original — Ozzy Osbourne, Tony Iommi, Geezer Butler e Bill Ward — a banda criou um som pesado e sombrio que revolucionou o rock, com álbuns icônicos como Paranoid e Master of Reality. Após a saída de Ozzy em 1979, Ronnie James Dio assumiu os vocais e trouxe uma nova fase de sucesso. Ao longo das décadas, a banda passou por diversas formações, mas sempre manteve grande influência. Em 2013, os membros originais (exceto Bill Ward) lançaram o álbum 13 e, em 2017, encerraram a carreira com a turnê “The End”. O Black Sabbath é amplamente reconhecido como o grupo que deu origem ao heavy metal.</h2>
                
    
</section>

    <main id="main">

    </main>

    <footer>

    </footer>
    
</body>
</html>