<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIO</title>
    <link rel="stylesheet" href="./../../View/css/projects/bandas.css">
    <script type="module" src="./../../Controller/projects/bandas/dio.js"></script>
</head>
<body id="dio_body">

<header id="header">

    </header>

    <section>
        
                 <h1 id="nomes">DIO</h1>
            
                   
                  <h2 id="biografia">Ronnie James Dio foi um dos maiores vocalistas da história do heavy metal, conhecido por sua voz poderosa, letras épicas e por popularizar o gesto dos "chifres do metal". Ganhou destaque no Rainbow, revitalizou o Black Sabbath com os álbuns Heaven and Hell e Mob Rules, e alcançou grande sucesso solo com Holy Diver. Também liderou o projeto Heaven & Hell nos anos 2000. Faleceu em 2010, deixando um legado imenso e duradouro no mundo do rock e do metal.</h2>
                
    
</section>

    <main id="main">

    </main>

    <footer>

    </footer>
    
</body>
</html>