<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Megadeth</title>
    <link rel="stylesheet" href="./../../View/css/projects/bandas.css">
    <script type="module" src="./../../Controller/projects/bandas/megadeth.js"></script>
</head>
<body id="megadeth_body">

<header id="header">

    </header>

    <section>
        
                 <h1 id="nomes">Megadeth</h1>
            
                   
                  <h2 id="biografia">Megadeth é uma banda americana de thrash metal formada em 1983 por Dave Mustaine após sua saída do Metallica. Conhecida por riffs rápidos, letras políticas e técnicas apuradas, a banda se destacou como uma das "Big Four" do thrash metal, ao lado de Metallica, Slayer e Anthrax. Álbuns como Peace Sells... but Who's Buying?, Rust in Peace e Countdown to Extinction marcaram o auge do grupo nos anos 80 e 90. Apesar de várias mudanças de formação, o Megadeth continua ativo e é uma das bandas mais influentes do metal.</h2>
                
    
</section>

    <main id="main">

    </main>

    <footer>

    </footer>
    
</body>
</html>