<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metallica</title>
    <link rel="stylesheet" href="./../../View/css/projects/bandas.css">
    <script type="module" src="./../../Controller/projects/bandas/metallica.js"></script>
</head>
<body id="metallica_body">

<header id="header">

    </header>

<section>
    
             <h1 id="nomes">Metallica</h1>
        
               
              <h2 id="biografia">Metallica é uma banda americana de thrash metal formada em 1981 por James Hetfield e Lars Ulrich, sendo uma das mais influentes e bem-sucedidas da história do rock. Com álbuns icônicos como Master of Puppets, ...And Justice for All e o Black Album, a banda conquistou fãs no mundo todo com seu som agressivo, letras intensas e presença de palco poderosa. Parte do “Big Four” do thrash metal, o Metallica manteve relevância por décadas e continua ativa, com turnês globais e novos lançamentos.</h2>
            

</section>

    <main id="main">

    </main>

    <footer>

    </footer>
    
</body>
</html>