<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ozzy</title>
    <link rel="stylesheet" href="./../../View/css/projects/bandas.css">
    <script type="module" src="./../../Controller/projects/bandas/ozzy.js"></script>
</head>
<body id="ozzy_body">

<header id="header">

    </header>

    <section>
        
        
                 <h1 id="nomes">Ozzy</h1>
            
                   
                  <h2 id="biografia">Blizzard of Ozz foi a banda que marcou o início da carreira solo de Ozzy Osbourne após sua saída do Black Sabbath em 1979. Formada com o guitarrista Randy Rhoads, o baixista Bob Daisley e o baterista Lee Kerslake, a banda lançou o álbum Blizzard of Ozz em 1980, que trouxe sucessos como "Crazy Train" e "Mr. Crowley". Embora planejada como um grupo, o projeto acabou sendo creditado apenas a Ozzy, e o sucesso do disco impulsionou sua nova fase solo. A morte trágica de Rhoads em 1982 marcou o fim da formação original, mas deixou um legado duradouro no heavy metal.</h2>
                

    </section>

    <main id="main">

    </main>

    <footer>

    </footer>
    
</body>
</html>