<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen</title>
    <link rel="stylesheet" href="./../../View/css/projects/bandas.css">
    <script type="module" src="./../../Controller/projects/bandas/queen.js"></script>
</head>
<body id="queen_body">

<header id="header">

    </header>
 
     <section>

         
                  <h1 id="nomes">Queen</h1>
             
                    
                   <h2 id="biografia">Queen é uma banda britânica formada em 1970 por Freddie Mercury, Brian May, Roger Taylor e, pouco depois, John Deacon. Combinando rock, ópera, pop e teatralidade, o grupo se destacou por sua originalidade e por hits como “Bohemian Rhapsody”, “We Will Rock You”, “We Are the Champions” e “Another One Bites the Dust”. A performance lendária no Live Aid em 1985 consagrou o Queen como uma das maiores bandas ao vivo da história. Após a morte de Freddie Mercury em 1991, a banda continuou em diferentes formações, mantendo vivo seu legado como um dos nomes mais icônicos do rock mundial.</h2>
                 

     </section>
    <main id="main">

    </main>

    <footer>

    </footer>
    
</body>
</html>