<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slayer</title>
    <link rel="stylesheet" href="./../../View/css/projects/bandas.css">
    <script type="module" src="./../../Controller/projects/bandas/slayer.js"></script>
</head>
<body id="slayer_body">

<header id="header">

    </header>
    <section>
        
                 <h1 id="nomes">Slayer</h1>
            
                   
                  <h2 id="biografia">Slayer foi uma banda americana de thrash metal formada em 1981 por Kerry King, Jeff Hanneman, Tom Araya e Dave Lombardo. Conhecida por sua velocidade extrema, letras polêmicas e agressividade sonora, é considerada uma das “Big Four” do thrash metal, ao lado de Metallica, Megadeth e Anthrax. Álbuns como Reign in Blood e Seasons in the Abyss se tornaram clássicos do gênero. A banda encerrou suas atividades em 2019, deixando um legado duradouro no metal pesado.</h2>
                

    </section>

    <main id="main">

    </main>

    <footer>

    </footer>
    
</body>
</html>