<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    <link rel="stylesheet" href="./../View/css/banner.css">
    <script type="module" src="./../Controller/banner.js"></script>
    <script src="https://kit.fontawesome.com/5cdc7b6ffd.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header id="header">

    </header>

    <main>

    </main>

    <footer>

    </footer>


    <button id="btn_menu" onclick="trocaMenu()"><i id="flecha" class="fa-solid fa-arrow-right"></i></button>
    <div id="btn_conteiner"></div>

</body>
</html>