<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    <link rel="stylesheet" href="./../View/css/banner.css">
    <script type="module" src="./../Controller/banner.js"></script>
    <script src="https://kit.fontawesome.com/5cdc7b6ffd.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header id="header">

    </header>

    <main>

        <nav id="estrela_da_morte">
            <div id="all_bunners">
            <div class="bunner" id="bunner1"></div>
            <div class="bunner" id="bunner2" ></div>
            <div class="bunner" id="bunner3"></div>
            </div>

            <div id="div_fds">
                <button class="btn_bunners"  onclick="troca_bunner(1)"></button>       
            <button class="btn_bunners" onclick="troca_bunner(2)"></button>     
            <button class="btn_bunners"  onclick="troca_bunner(3)"></button></div>          
        </nav>

    </main>

    <footer>

    </footer>


    <!-- <button id="btn_menu" onclick="trocaMenu()" s><i id="flecha" class="fa-solid fa-arrow-right"></i></button>
    <div id="btn_conteiner"></div> -->

</body>
</html>