<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="/View/index.css">
</head>
<body>

    <header>

    </header>

    <main>
<h1 id="name">Lucas A. Miguel</h1>

<p id="description">Sou programador junior em html, css, javascript, C. Além de programador sou músico, fã de Megadeth, Iron Maiden, Black Sabbath.</p>

<img src="https://freepngimg.com/save/36277-megadeth-photos/800x184" id="img_mega">
<iframe width="300" height="200" id="doom"
src="https://www.youtube.com/embed/58PCM-x7jlg"></iframe>

    </main>

    <footer>
        <a href="https://github.com/lucasandre46" id="git">clique aqui!!!</a>
    </footer>
    
</body>
</html>